

<ion-header>


  <ion-segment  [(ngModel)]="selectedSegment" 
  (ionChange)="SelectSegment($event)">

    <ion-segment-button value="group">
      <ion-label>Group</ion-label>
    </ion-segment-button>

    <ion-segment-button value="groupaccess">
      <ion-label>Group Access</ion-label>
    </ion-segment-button>

    <ion-segment-button value="user">
      <ion-label>user</ion-label>
    </ion-segment-button>
    <ion-segment-button value="access">
      <ion-label>User Access</ion-label>
    </ion-segment-button>

  </ion-segment>
</ion-header>


    <ion-content [fullscreen]="true">

     

        <ng-container *ngIf="selectedSegment === 'group'"> 
          <dx-data-grid
          [dataSource]="grouptable"
          [showBorders]="true"
          class="grid"
          [showRowLines]="true"
          [allowSorting]="true"
          [columnAutoWidth]="true"
          [rowAlternationEnabled]="true"
          [allowColumnResizing]="true"
          (onInitNewRow)="onInitRowForGroupTable($event)"
          (onRowInserted)="onRowInsertedForGroupTable($event)"
          (onRowUpdating)="onRowUpdatingForGroupTable($event)"
          (onRowRemoving)="onRowRemovingForGroupTable($event)"
          [customizeColumns]="customizeColumns"
          (onCellClick)="onCellClick($event)"
          >
          <dxo-templates>
              <div *dxTemplate="let data of 'customCellTemplate'" style="text-align: center;">
                  <mat-icon (click)="openDialog(data)">list</mat-icon>
              </div>
          </dxo-templates>
          <dxo-templates>
            <div *dxTemplate="let data of 'customCellTemplatelevels'" style="text-align: center;">
                <mat-icon (click)="openDialogforlevels(data)">list</mat-icon>
            </div>
        </dxo-templates>
     
          <dxi-column dataField="groupname" caption="Group Name"  [alignment]="'center'">
            <dxi-validation-rule type="required" message="GroupName is required" ></dxi-validation-rule>
          </dxi-column>        
            <dxi-column dataField="active" caption="Active" [dataType]="'boolean'" [alignment]="'center'" ></dxi-column>
          <dxi-column dataField="createdby" caption="Created By" [alignment]="'center'"></dxi-column>
          <dxi-column dataField="createdTime" caption="Created Time" [width]="170" [alignment]="'center'"></dxi-column>
          <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-pager
              [visible]="true"
              [showPageSizeSelector]="showPageSizeSelector"
              [showInfo]="showInfo"
              [showNavigationButtons]="showNavButtons"
              [pager]="{ visible: true, showPageSizeSelector: true, allowedPageSizes: [5,10,20], showInfo: true }"
          ></dxo-pager>
          <dxo-editing
              mode="popup"
              [allowUpdating]="true"
              [allowAdding]="true"
              [allowDeleting]="true"
              [useIcons]="true"
          >
              <dxo-popup
                  title="Group Info"
                  [showTitle]="true"
                  [width]="350"
                  [height]="250"
                  position="center"
              ></dxo-popup>
      
              <dxo-form [colCount]="1">
                  <dxi-item dataField="groupname" caption="Group Name" [fixed]="true" [alignment]="'center'" ></dxi-item>
                  <!-- <dxi-item dataField="assignedusers" caption="Users" [alignment]="'center'" [visible]="false" [alignment]="'center'" ></dxi-item> -->
                  <dxi-item dataField="active" caption="Active" [dataType]="'boolean'" [alignment]="'center'"></dxi-item>
                  <dxi-item dataField="createdby" caption="Created By" [alignment]="'center'" [visible]="false"></dxi-item>
                  <dxi-item dataField="createdTime" caption="Created Time" [width]="170" [alignment]="'center'" [visible]="false"></dxi-item>
              </dxo-form>   
          </dxo-editing>
          </dx-data-grid>
      </ng-container>

        <ng-container *ngIf="selectedSegment === 'groupaccess'"> 
          <dx-data-grid
              [dataSource]="groupaccess"
              class="grid"
              [showRowLines]="true"
              [showBorders]="true"
              [allowSorting]="true"
              [columnAutoWidth]="true"
              [rowAlternationEnabled]="true"
              [allowColumnResizing]="true"
              [rowAlternationEnabled]="true"
              (onRowUpdated)="onRowInsertedgrpaccess($event)"
            >
              <dxo-search-panel [visible]="true">
              </dxo-search-panel>
              <dxo-paging [pageSize]="10"></dxo-paging>
              <dxo-pager
                [visible]="true"
                [showPageSizeSelector]="showPageSizeSelector"
                [showInfo]="showInfo"
                [showNavigationButtons]="showNavButtons"
                [pager]="{ visible: true, showPageSizeSelector: true, 
                allowedPageSizes: [5,10,20], showInfo: true 
                  }"
              ></dxo-pager>
              <dxo-editing
                mode="row"
                [allowUpdating]="true"
                [useIcons]="true"
                class="my-modal-class"
              >
              </dxo-editing>
            
              <dxi-column dataField="groupname1" caption="Group Name" [alignment]="'center'" [allowEditing]="false" [fixed]="true"></dxi-column>


              <!-- User Management -->
              <dxi-column caption="User Management" [alignment]="'center'">
                <dxi-column dataField="userManagementView" caption="View" dataType="boolean"></dxi-column>
                <dxi-column dataField="userManagementControl" caption="Control" dataType="boolean"></dxi-column>
              </dxi-column>
          
              <!-- Hierarchy Management -->
              <dxi-column caption="Hierarchy Management" [alignment]="'center'">
                <dxi-column dataField="hierarchyManagementView" caption="View" dataType="boolean"></dxi-column>
                <dxi-column dataField="hierarchyManagementControl" caption="Control" dataType="boolean"></dxi-column>
              </dxi-column>

              <!-- Report Management -->
              <dxi-column caption="Report Management" [alignment]="'center'">
                <dxi-column dataField="reportManagementView" caption="View" dataType="boolean"></dxi-column>
                <dxi-column dataField="reportManagementControl" caption="Control" dataType="boolean"></dxi-column>
              </dxi-column>
              
              <!-- FTP Management -->
              <dxi-column caption="FTP Management" [alignment]="'center'">
                <dxi-column dataField="ftpManagementView" caption="View" dataType="boolean"></dxi-column>
                <dxi-column dataField="ftpManagementControl" caption="Control" dataType="boolean"></dxi-column>
              </dxi-column>
                

              <!-- External Activity Management -->
            <dxi-column caption="External Activity Management" [alignment]="'center'">
              <dxi-column dataField="externalActivityView" caption="View" dataType="boolean"></dxi-column>
              <dxi-column dataField="externalActivityEdit" caption="Control" dataType="boolean"></dxi-column>
            </dxi-column>

            <!-- SMS/Email Configuration -->
            <dxi-column caption="SMS/Email Configuration" [alignment]="'center'">
              <dxi-column dataField="smsConfigView" caption="View" dataType="boolean"></dxi-column>
              <dxi-column dataField="smsConfigEdit" caption="Control" dataType="boolean"></dxi-column>
           
            </dxi-column>

            <!-- Support Management -->
            <dxi-column caption="Support Management" [alignment]="'center'">
              <dxi-column dataField="supportView" caption="View" dataType="boolean"></dxi-column>
              <dxi-column dataField="supportControl" caption="Control" dataType="boolean"></dxi-column>
            </dxi-column>
            </dx-data-grid>
        </ng-container>

      <ng-container *ngIf="selectedSegment === 'user'"> 
                  <dx-data-grid
                  [dataSource]="usertable2"
                  [showBorders]="true"
                  class="grid"
                  [showRowLines]="true"
                  [showBorders]="true"
                  [allowSorting]="true"
                  [columnAutoWidth]="true"
                  [rowAlternationEnabled]="true"
                  [allowColumnResizing]="true"
                  (onInitNewRow)="onInitNewRow($event)"
                  (onRowInserted)="onRowInserted($event)"
                  (onRowUpdated)="onRowUpdated($event)"
                  (onRowRemoving)="onrowdeleted($event)"
                  (onEditorPreparing)="onEditorPreparing($event)"
                  [customizeColumns]="customizegroupColumns"
                  >
                <dxo-templates  style="text-align: center !important; ">
                  <div *dxTemplate="let data of 'customCellTemplategroup'"  style="text-align: center;">
                      <mat-icon (click)="openDialogroup(data)">list</mat-icon>
                  </div>
                </dxo-templates>
              
              <dxo-templates  style="text-align: center !important; ">
                <div *dxTemplate="let data of 'customCellTemplatelevels'"  style="text-align: center;">
                    <mat-icon (click)="openDialoguserlevel(data)">list</mat-icon>
                </div>
            </dxo-templates>
            <dxi-column dataField="username" caption="User Name" [fixed]="true" [alignment]="'center'"></dxi-column>
            <dxi-column dataField="password" mode="password" caption="Password"  [visible]="false" [alignment]="'center'"></dxi-column>
            <dxi-column dataField="mobilenumber" caption="Mobile Number" [alignment]="'center'"></dxi-column>
            <dxi-column dataField="emailid" caption="Email" [width]="170" [alignment]="'center'"></dxi-column>
            <dxi-column dataField="designation" caption="Designation" [alignment]="'center'"></dxi-column>
            <dxi-column dataField="active" caption="Active" [dataType]="'boolean'" [alignment]="'center'"></dxi-column>
            <dxi-column dataField="createdby" caption="Created By" [alignment]="'center'"></dxi-column>
            <dxi-column dataField="createdTime" caption="Created Time"  [width]="170" [alignment]="'center'"></dxi-column>


            <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

            <dxo-search-panel [visible]="true">
            </dxo-search-panel>
            
            <dxo-paging [pageSize]="10"></dxo-paging>
              
            <dxo-pager
            [visible]="true"
            [showPageSizeSelector]="showPageSizeSelector"
            [showInfo]="showInfo"
            [showNavigationButtons]="showNavButtons"
            [pager]="{ visible: true, showPageSizeSelector: true, 
            allowedPageSizes: [5,10,20], showInfo: true 
            }"
            >
            </dxo-pager>
            <dxo-editing
            mode="popup"
            [allowUpdating]="true"
            [allowAdding]="true"
            [allowDeleting]="true"
            [useIcons]="true"
            >
            <dxo-popup
            title="User Info"
            [showTitle]="true"
            [width]="450"
            [height]="430"
            position="centre"
          >   
          </dxo-popup>
      
          <dxo-form colCount="1">           
            <dxi-item dataField="username" caption="User Name" [fixed]="true" [dataType]="'string'">
            <dxi-validation-rule type="required" message="Username is required"></dxi-validation-rule>
            </dxi-item>
      
            <dxi-item dataField="password">
         <dxi-validation-rule type="required" message="Password is required" ></dxi-validation-rule>
          </dxi-item>

          <dxi-item dataField="mobilenumber" caption="Mobile Number" 
          [width]="150" [dataType]="'number'">
        </dxi-item>
      
        <dxi-item dataField="emailid" caption="Email" [width]="170" [dataType]="'email'">
        </dxi-item>

  
        <dxi-item dataField="designation" caption="Designation" [dataType]="'string'">
          <dxi-validation-rule type="required" message=" Designation is required"></dxi-validation-rule>
        </dxi-item>
            <dxi-item dataField="active" caption="Active" [dataType]="'boolean'"></dxi-item>
            
          </dxo-form>   

        </dxo-editing>
        </dx-data-grid>
      </ng-container>

      <ng-container *ngIf="selectedSegment === 'access'">
        <dx-data-grid
        [dataSource]="useraccess"
        class="grid"
        [showRowLines]="true"
        [showBorders]="true"
        [allowSorting]="true"
        [columnAutoWidth]="true"
        [rowAlternationEnabled]="true"
        [allowColumnResizing]="true"
        [rowAlternationEnabled]="true"
        (onRowUpdated)="onrowupdateuseraccesstable($event)"
        
      >
        <dxo-search-panel [visible]="true">
        </dxo-search-panel>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager
          [visible]="true"
          [showPageSizeSelector]="showPageSizeSelector"
          [showInfo]="showInfo"
          [showNavigationButtons]="showNavButtons"
          [pager]="{ visible: true, showPageSizeSelector: true, 
            allowedPageSizes: [5,10,20], showInfo: true 
            }"
        ></dxo-pager>
        <dxo-editing
          mode="row"
          [useIcons]="true"
          [allowUpdating]="true"
          class="my-modal-class"
        >
        </dxo-editing>
        <dxi-column dataField="username1" caption="List of Users" [alignment]="'center'" [allowEditing]="false" [fixed]="true"></dxi-column>

          <!-- <dxi-column dataField="selectAll" caption="Select All" dataType="boolean"  [alignment]="'center'" ></dxi-column> -->

        <!-- User Management -->
        <dxi-column caption="User Management" [alignment]="'center'">
          <dxi-column dataField="userManagementView" caption="View" dataType="boolean"></dxi-column>
          <dxi-column dataField="userManagementControl" caption="Control" dataType="boolean"></dxi-column>
        </dxi-column>

        <!-- Hierarchy Management -->
        <dxi-column caption="Hierarchy Management" [alignment]="'center'">
          <dxi-column dataField="hierarchyManagementView" caption="View" dataType="boolean"></dxi-column>
          <dxi-column dataField="hierarchyManagementControl" caption="Control" dataType="boolean"></dxi-column>
        </dxi-column>

        <!-- Report Management -->
        <dxi-column caption="Report Management" [alignment]="'center'">
          <dxi-column dataField="reportManagementView" caption="View" dataType="boolean"></dxi-column>
          <dxi-column dataField="reportManagementControl" caption="Control" dataType="boolean"></dxi-column>
        </dxi-column>
        
        <!-- FTP Management -->
        <dxi-column caption="FTP Management" [alignment]="'center'">
          <dxi-column dataField="ftpManagementView" caption="View" dataType="boolean"></dxi-column>
          <dxi-column dataField="ftpManagementControl" caption="Control" dataType="boolean"></dxi-column>
        </dxi-column>
          

        <!-- External Activity Management -->
      <dxi-column caption="External Activity Management" [alignment]="'center'">
        <dxi-column dataField="externalActivityView" caption="View" dataType="boolean"></dxi-column>
        <dxi-column dataField="externalActivityEdit" caption="Control" dataType="boolean"></dxi-column>
      </dxi-column>

      <!-- SMS/Email Configuration -->
      <dxi-column caption="SMS/Email Configuration" [alignment]="'center'">
        <dxi-column dataField="smsConfigView" caption="View" dataType="boolean"></dxi-column>
        <dxi-column dataField="smsConfigEdit" caption="Control" dataType="boolean"></dxi-column>
      </dxi-column>

      <!-- Support Management -->
      <dxi-column caption="Support Management" [alignment]="'center'">
        <dxi-column dataField="supportView" caption="View" dataType="boolean"></dxi-column>
        <dxi-column dataField="supportControl" caption="Control" dataType="boolean"></dxi-column>
      </dxi-column>

        </dx-data-grid>
      </ng-container>
    </ion-content>