.example-spacer {
    flex: 1 1 auto;
  }
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .mat-drawer-container.example-container {
    height: 100%;
  }
  
  .mat-drawer {
    width: 250px; /* You can set the width as needed */
  }

  .menu_icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }

  .icon{

    height: 20px;
    width: 20px;
    margin-right: 10px;

  }

  .toolbar-title-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.tittle{

  margin-left: 45%; 
  margin-top: -3%; 
   font-weight: bold; 

}

.white-text {
  color: white; /* Set text color to white */
}


.custom-footer{
  height:  25px;
  background-color: #0f204b;
}

.marquee {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  animation: marquee 30s linear infinite; /* Set animation properties */
}

@keyframes marquee {
  0% {
    transform: translateX(100%); /* Start from outside the viewport */
  }
  100% {
    transform: translateX(-100%); /* Move text to the left */
  }
}