
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat.define-palette(mat.$indigo-palette);
$app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($app-theme);

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

.ion-toolbar{


    background-color: green !important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  
.mat-mdc-card-header-text {
    margin: auto;
    padding-bottom: 10px;
}
.mat-drawer-content {
    width: 100%;
}

.grid{
  padding: 20px;
  width: 100% !important;
}


.dx-button-has-text .dx-button-content{

  display: flex !important; /* Use flexbox */
  justify-content: center !important; /* Center horizontally */
  align-items: center !important; /* Center vertically */

}
.dx-header-row>td>.dx-datagrid-text-content:not(.dx-sort-indicator):not(.dx-header-filter-indicator) {
  font-size: 16px;
  color: #0f204b;
  font-weight: bold;
}

.dx-datagrid-headers .dx-datagrid-table .dx-row>td {
  font-size: 16px;
  color:#0f204b;
  font-weight: bold;
text-align: center !important;
}

.dx-treelist-headers .dx-treelist-table .dx-row>td {

  font-size: 16px;
  color:#0f204b;
  font-weight: bold;
text-align: center !important;

}


ion-toolbar {
  --background:#0f204b ;
  color:#fff;
}

  .dx-popup-title.dx-toolbar {

 background-color: #0f204b;
  color: #fff;

  }

  .dx-button-has-icon .dx-button-content{

    background-color: #fff;
  }

  .dx-checkbox.dx-state-readonly .dx-checkbox-icon {
    // border-color: lightblue;
    border:  1px solid red ;

}

.dx-datagrid-checkbox-size .dx-checkbox-icon {
  border: 1px solid blue;
 
}


.dx-datagrid-checkbox-size.dx-checkbox-checked .dx-checkbox-icon {

  border: 1.5px solid green;
  background-color: green;
  color: white;

}

.dx-button[aria-label="Save"] {
  background-color: green;
color: #fff;
border: green;
}
.dx-button[aria-label="Cancel"] {
    background-color: red;
    color: #fff;
border: 1px solid red;
}

.input-wrapper.sc-ion-input-md input.sc-ion-input-md {

  padding: 10px;
}
