<div class="login-page">
  <div class="login-content">
    <ion-title>Login</ion-title>

    <div class="inputs">

      <ion-label class="text-white">Username</ion-label>

<ion-row>
  <ion-col>
    <div style="display: flex; justify-content: end; ">
      <ion-input type="text" style="color: black;" [(ngModel)]="username" required></ion-input>
      <!-- <ion-icon name="person" slot="start" class="icon"></ion-icon> -->
    </div>

  </ion-col>
 

</ion-row>
 

        <ion-label position="floating">Password</ion-label>
        <ion-input type="{{ showPassword ? 'text' : 'password' }}" style="color: black;" class="input" [(ngModel)]="password" required>
        </ion-input>
    </div>
    <ion-button color="success" (click)="login()" type="submit">Login</ion-button>
  </div>
</div>
