<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span class="title-text">Assigned Levels : {{ data.groupname }}</span>
    </ion-title>


    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">


        <dx-data-grid
        [dataSource]="storedData"
        [showBorders]="true"
        class="grid"
        [showRowLines]="true"
        [columnAutoWidth]="true"
        [rowAlternationEnabled]="true"
        [allowColumnResizing]="true"
        (onRowInserted)="onRowInserting($event)"
        (onRowRemoving)="onRowDeleted($event)"    >
      >   
      
      
      <dxi-column dataField="Access" caption="Access Level" editCellTemplate="accesuserselect">
        <div *dxTemplate="let cellInfo of 'accesuserselect'">
          <dx-select-box  [dataSource]="accessallonly"
                      (onValueChanged)="onValChangedaccess($event)"
                      >
          </dx-select-box>
      </div>
      </dxi-column>

      
      <dxi-column dataField="levels" caption="Level"  editCellTemplate="levelnames" >
      <div *dxTemplate="let cellInfo of 'levelnames'">
        <dx-tag-box [dataSource]="levelsss" 
                    [showSelectionControls]="true"
                    [showMultiTagOnly]="false" 
                    [searchEnabled]="true"
                    [multiline]="true"
                    (onValueChanged)="onValueChanged($event)"
                    (onRowRemoving)="onRowDeleted($event)"

                    >
        </dx-tag-box>
      </div>

      </dxi-column>

      <dxo-editing
              mode="row"
              [useIcons]="true"
              [allowDeleting]="true"
              [allowAdding]="true"
              class="my-modal-class"
            >
            </dxo-editing>
      </dx-data-grid>

</ion-content>

