<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ data.groupname }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <dx-data-grid
  [dataSource]="storedData"
  [showBorders]="true"
  class="grid"
  [showRowLines]="true"
  [columnAutoWidth]="true"
  [rowAlternationEnabled]="true"
  [allowColumnResizing]="true"
>
  <dxi-column dataField="levels" caption="Level"></dxi-column>
  <dxi-column dataField="Access" caption="Access"></dxi-column>
</dx-data-grid>

</ion-content>
