<div class="container">
  <mat-card class="custom-card">
    <mat-card-content>

     
    
      <ion-item>
        <ion-label position="floating">Enter Project Title</ion-label>
        <ion-input type="text" [(ngModel)]="projectTitle"></ion-input>
      </ion-item>
      
    </mat-card-content>

    <mat-card-actions class="centered-actions">
      <button mat-button class="mat-green-theme" (click)="saveTitle()">Save</button>
      <button mat-button class="mat-red-theme" (click)="cancel()">Cancel </button>
    </mat-card-actions>
    
  </mat-card>
</div>